@page "/MyHomes"

@using System.Security.Claims
@inject CustomStateProvider authStateProvider

<AuthorizeView>
    <Authorized>
        <h3>Мои отели</h3>
        <div class="my-3">
            @if (!NotFound)
            {
                <HomesTable Homes="HomeList"></HomesTable>
            }
            else
            {
                <p>Отели отсутствуют</p>
            }
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private bool NotFound { get; set; } = false;
    private List<HomeSmall> HomeList { get; set; } = new List<HomeSmall>();

    [Inject]
    IHomeHttpRepository HomeRep { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var state = await authStateProvider.GetAuthenticationStateAsync();
        if (state.User.Identity.IsAuthenticated)
        {
            HomeList = await HomeRep.GetUserHomes();
            NotFound = (HomeList == null || HomeList.Count == 0);
            StateHasChanged();
        }
    }
}

