<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Поиск отеля</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/HomeSearch" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Отели
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="/MyHomes" Match="NavLinkMatch.All">
                        <span class="oi oi-person" aria-hidden="true"></span> Мои отели
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="/HomeCreationNew" Match="NavLinkMatch.All">
                        <span class="oi oi-plus" aria-hidden="true"></span> Создать предложение
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="/MyReserves" Match="NavLinkMatch.All">
                        <span class="oi oi-shield" aria-hidden="true"></span> Мои брони
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

