<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">- Отсортировать по -</option>
        <option value="name">Название</option>
        <option value="price">Цена</option>
    </select>
</section>

@code {
    [Parameter]
    public EventCallback<string> OnSortChanged { get; set; }

    private async Task ApplySort(ChangeEventArgs eventArgs)
    {
        if (eventArgs.Value.ToString() == "-1")
            return;
        await OnSortChanged.InvokeAsync(eventArgs.Value.ToString());
    }
}

